a {
    display: inline-block;
    width: 33%;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    color: black;
}

.deleteBoton {
    color: white;
    height: 10px;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-size: bold;
}

.delete {
    background-color: #6CA6C1;
    width: 10%;
}

.delete:hover {

    background-color: red;
}

#botones {
    display: block;
    width: 100%;
}

#borrar {
    background-color: red;
}

#ver {
    background-color: green;
}

#insertar {
    background-color: yellow;

}

table,
th,
td {
    padding: 5px;
}

table {
    width: 100%;
}

th {
    padding-top: 4px;
    text-align: left;
    color: #F7FFF7;
    padding-bottom: 3px;
    border: solid #6CA6C1 1px
}

td {
    padding-left: 10px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343434;
    border: solid #6CA6C1 1px
}