/*CONFIGURAR EL TITULO*/
#titulo-lista {
    color: #FFE66D;
    padding-top: 50px;
    margin: auto;
    display: block;
    width: 80%;
    height: 100px;
    text-align: center;
    background-color: #343434;
}

header {
    display: block;
    width: 100%;
    text-align: center;
}

/*cONFIGURAR LA TABLA*/
table {
    width: 100%;

}

th {
    padding-top: 4px;
    text-align: center;
    color: #F7FFF7;
    padding-bottom: 3px;
    border: solid #6CA6C1 1px
}

td {
    padding-left: 10px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343434;
    border: solid #6CA6C1 1px
}

#seleccion {
    color: #FFE66D;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border: solid #343434 1px;
    padding: 5px;
    background-color: #343434;
}

.seleccionado {
    background-color: #343434;
}

.seleccionado a:hover {
    color: #FFE66D;
}

.seleccionado a {
    color: #F7FFF7;
}

.centrado {
    padding: 0;
    text-align: center;
}