<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:utext="'Book Crud '+ ${mode}">Book Crud</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/crud.css">
</head>

<body>
    <div>
        <a id="insertar" th:href="@{/back/bookCrud/insertar}">Insertar</a>
        <a id="ver" th:href="@{/back/bookCrud/ver}">Ver</a>
        <a id="borrar" th:href="@{/back/bookCrud/borrar}">Borrar</a>
    </div>

    <table th:if="${mode} == 'ver'">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Generos</th>
            <th>Sinopsis</th>
            <th>Paginas</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.titulo}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.authors}"></td>
            <td th:text="${book.genders}"></td>
            <td th:text="${book.sinopsis}"></td>
            <td th:text="${book.paginas}"></td>
        </tr>
    </table>

    <table th:if="${mode} == 'borrar'">
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Generos</th>
            <th>Sinopsis</th>
            <th>Paginas</th>
            <th style="text-align: ceter;">Boton</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.titulo}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.authors}"></td>
            <td th:text="${book.genders}"></td>
            <td th:text="${book.sinopsis}"></td>
            <td th:text="${book.paginas}"></td>
            <td class="delete">
                <a class="deleteBoton" th:href="@{'/back/book/delete/' + ${book.id}}">Borrar</a>
            </td>
        </tr>
    </table>

</body>

</html>