<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:utext="'Comment Crud '+${mode}">Comment Crud</title>
</head>

<body>
    <a th:href="@{/back/commentCrud/insertar}">Insertar</a>
    <a th:href="@{/back/commentCrud/ver}">Ver</a>
    <a th:href="@{/back/commentCrud/borrar}">Borrar</a>
</body>

</html>