<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Log in</title>
</head>

<body>
    <hr>
    <div id="izquierda">
        <img src="/img/imagen_de_referencia.jpg" alt="Libros">
    </div>

    <div id="derecha">
        <h2>MyBookList</h2>
        <form th:action="@{/checkLogin}" th:object="${user}" method="POST">
            <input type="text" name="nick" placeholder="Usuario">
            <input type="password" name="pass" placeholder="Contraseña">
            <button type="submit" id="enviar">Log in</button>
        </form>

        <p><a href="#">Has olvidado contrasña?</a></p>
        <p><a th:href="@{/singin}">Crea una cuenta</a></p>
    </div>
</body>

</html>