<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/listas.css">
    <title th:text="'Lista de '+${user.nick}">Lista de Prueba</title>
</head>

<body>
    <div id="titulo-lista">
        <h1 th:text="'Lista de '+${user.nick}">Lista de Prueba</h1>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/list/}+ ${user.id} + '/0'">Todos</a></li>
            <li><a th:href="@{/list/}+ ${user.id} + '/1'">Leyendo</a></li>
            <li><a th:href="@{/list/}+ ${user.id} + '/3'">Leidos</a></li>
            <li><a th:href="@{/list/}+ ${user.id} + '/2'">Pendientes</a></li>
        </ul>
    </nav>
    <div class="separador">

    </div>
    <section>
        <table cellpadding="0" cellspacing="0">
            <th colspan="4" id="seleccion" th:text="${seleccion}">Todos</th>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Paginas</th>

            </tr>
            <tr th:each="book : ${books}">
                <td class="centrado" th:text="${book.id}">1</td>
                <td><a th:href="@{/book/} + ${book.idBook}" th:text="${book.titulo}">Titulo ejemplo</a></td>
                <td th:if="${book.idAuthor} != -1"><a th:href="@{/author/} + ${book.idAuthor}"
                        th:text="${book.author}">Autor ejemplo</a></td>
                <td th:if="${book.idAuthor} == -1" th:text="${book.author}"></td>
                <td th:text="${book.paginas}">3000</td>
            </tr>
        </table>
    </section>

</body>

</html>