<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/listas.css">
    <title>Lista de Prueba</title>
</head>

<body>
    <div id="titulo-lista">
        <h1>Lista de Prueba</h1>
    </div>
    <nav>
        <ul>
            <li class="seleccionado"><a href="#">Todos</a></li>
            <li><a href="#">Leyendo</a></li>
            <li><a href="#">Leidos</a></li>
            <li><a href="#">Pendientes</a></li>
        </ul>
    </nav>
    <div class="separador">

    </div>
    <section>
        <table cellpadding="0" cellspacing="0">
            <th colspan="4" id="seleccion">Todos</th>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Paginas</th>

            </tr>
            <tr class="impar">
                <td class="centrado">1</td>
                <td><a href="#">Titulo ejemplo</a></td>
                <td><a href="#">Autor ejemplo</a></td>
                <td>3000</td>
            </tr>
            <tr class="par">
                <td class="centrado">2</td>
                <td><a href="#">Titulo ejemplo</a></td>
                <td><a href="#">Autor ejemplo</a></td>
                <td>3000</td>
            </tr>
        </table>
    </section>

</body>

</html>