<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/singin.css">
    <title>Sing in</title>
</head>

<body>
    <hr>
    <div id="izquierda">
        <img src="../static/img/imagen_de_referencia.jpg" alt="libros">
    </div>

    <div id="derecha">
        <h2>MyBookList</h2>
        <form action="#" method="GET">
            <input type="text" name="name" placeholder="Nombre">
            <input type="text" name="user" placeholder="Usuario">
            <input type="email" name="email" placeholder="Correo electrónico">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="submit" id="enviar" value="Sing In">
        </form>
    </div>

</body>

</html>