<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/crud.css">
    <title th:text="'User Crud '+${mode}">User Crud</title>
</head>

<body>
    <div>
        <a id="insertar" th:href="@{/back/userCrud/insertar}">Insertar</a>
        <a id="ver" th:href="@{/back/userCrud/ver}">Ver</a>
        <a id="borrar" th:href="@{/back/userCrud/borrar}">Borrar</a>
    </div>

    <table th:if="${mode} == 'ver'">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Nick</th>
            <th>Correo</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.nick}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>

    <table th:if="${mode} == 'borrar'">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Nick</th>
            <th>Correo</th>
            <th style="text-align: center;">Boton</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.nick}"></td>
            <td th:text="${user.email}"></td>
            <td class="delete">
                <a class="deleteBoton" th:href="@{'/back/user/delete/' + ${user.id}}">Borrar</a>
            </td>
        </tr>
    </table>
</body>

</html>